{% extends 'base.html' %}
{% block content %}
    <div class="ml-3">
    <h1>
        Hello
    </h1>
    <h5>
    Here you can find some instructions for authenticated users
    </h5>
    <h5>
    <li>
        Check "Info" link - there you can find statistic of your expenses
    </li>
    </h5>
    <h5>
    <li>
        Ckeck "Setting" link - there you can set you limits for current day
    </li>
    </h5>
    <h5>
    <li>
        Via "Add expenses" link add any expenses
    </li>
    </h5>
    <h5>
    <li>
        Check your daily expenses following daily links on "Info link". There you can also edit records
    </li>
    </h5>
    <h5>
    <li>
        On "Info" link you can fine date filter to see archive statistics
    </li>
    </h5>
    <h5>
    <li>
        On "Info" link you can find button to send month statistic to you email
    </li>
    </h5>
    <h5>
    <li>
        Follow our telegram bot "wallet_economy_bot" - there you can also control your expenses
    </li>
    </h5>
    </div>

{% endblock %}