{% extends 'base.html' %}
{% block content %}
    <div class="ml-3">
    <h1>
        Hello
    </h1>
    <h5>
    Here you can find some instructions for authenticated users
    </h5>
    <h5>
    <li>
        Via "Setting" link you can set you limits for current day
    </li>
    </h5>
    <h5>
    <li>
        Via "Add expenses" link add any expenses
    </li>
    </h5>
    <h5>
    <li>
        Via "Info" link you can see month statistic of expenses
    </li>
    </h5>
    <h5>
    <li>
        Via "Info" link you can find date filter to see archive statistics
    </li>
    </h5>
    <h5>
    <li>
        Via "Info" link you can find button to send month statistic to your email
    </li>
    </h5>
    <h5><h5>
    <li>
        Via "Edit info" link you can update you personal info
    </li>
    </h5>
    <h5>
    <li>
        Follow our telegram bot "wallet_economy_bot" - there you can also control your expenses
    </li>
    </h5>
    </div>

{% endblock %}