{% extends 'base.html' %}
{% block content %}
    <div class="ml-3">
    <h1>
        Hello
    </h1>
    <h5>
    Here you can find some instructions for authenticated users
    </h5>
    <h5>
    <li>
        Via "Report settings" link you can set you limits for current day
    </li>
    </h5>
    <h5>
    <li>
        Via "Add expenses" link add expenses
    </li>
    </h5>
    <h5>
    <li>
        Via "Add Bill" link add bills photos
    </li>
    </h5>
    <h5>
    <li>
        Via "Info" link see monthly statistic, send report on e-mail
    </li>
    </h5>

    <h5>
    <li>
        Via "Edit personal info" link you can update you personal info
    </li>
    </h5>
    <h5>
    <li>
        Follow our telegram bot "wallet_economy_bot" - there you can also control your expenses
    </li>
    </h5>
    </div>

{% endblock %}